In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# 1 如何创建多层级索引

- 显示构造pd.Multilndex  
    。使用数组   =>#from_arrays   
    。使用tuple  => #from_tuples  
    。使用product =>  #from_product

In [18]:
pd.read_excel("案例.xlsx")
df = pd.read_excel("案例.xlsx", header=[0,1],index_col=0)
df

      上半年              下半年
       收入    成本   费用    收入    成本   费用
92#  1000   500  200  2000   600  200
95#  2000  1000  500  3000  1200  500
98#  3000  1500  800  4000  1800  800

In [16]:
df.columns

MultiIndex([('上半年', '收入'),
            ('上半年', '成本'),
            ('上半年', '费用'),
            ('下半年', '收入'),
            ('下半年', '成本'),
            ('下半年', '费用')],
           )

In [26]:
#pd.MultiIndex.from_product
columns = pd.MultiIndex.from_product([["上半年","下半年"],["收入","成本","费用"]])
index = ["92#","95#","98#"]
data = np.random.randint(0,1000,size=(3,6))
DataFrame(data=data, index=index,columns=columns)

     上半年            下半年
      收入   成本   费用   收入   成本   费用
92#  819   44  669   41  473  947
95#  193  430  637  738  192  444
98#  371  943  629  735  386  955

In [29]:
# pd.MultiIndex.from_arrays
arr =[["上半年","上半年","上半年","下半年","下半年","下半年"],["收入","成本","费用","收入","成本","费用"]]
columns = pd.MultiIndex.from_arrays(arr)
columns

MultiIndex([('上半年', '收入'),
            ('上半年', '成本'),
            ('上半年', '费用'),
            ('下半年', '收入'),
            ('下半年', '成本'),
            ('下半年', '费用')],
           )

In [31]:
# pd.MultiIndex.from_tupls
tup =(('上半年', '收入'),
            ('上半年', '成本'),
            ('上半年', '费用'),
            ('下半年', '收入'),
            ('下半年', '成本'),
            ('下半年', '费用'))
columns = pd.MultiIndex.from_tuples(tup)
columns

MultiIndex([('上半年', '收入'),
            ('上半年', '成本'),
            ('上半年', '费用'),
            ('下半年', '收入'),
            ('下半年', '成本'),
            ('下半年', '费用')],
           )

In [33]:
index_col = ["张三","李四"]
columns  = pd.MultiIndex.from_product([["期中","期末"],["python","java","C++"]])
data = np.random.randint(10,100,size=(2,6))
df = DataFrame(data=data, index=index_col,columns=columns)
df

       期中              期末
   python java C++ python java C++
张三     72   26  14     55   58  96
李四     74   42  55     99   48  87

In [4]:
index= pd.MultiIndex.from_product([["期中","期末"],["张三","李四"]])
columns = ["python","java","C++"]
data = np.random.randint(10,100,size=(4,3))
df = DataFrame(data=data,index=index,columns=columns)
df

       python  java  C++
期中 张三      65    81   79
   李四      65    55   86
期末 张三      43    33   47
   李四      37    25   54

# 2 多层索引的访问（索引|切片）
- 多层索引使用元祖表达索引逻辑  
- 隐式索引永远是单层级，不会收到多层索引影响
-

In [34]:
pd.__version__

'2.1.0'

In [12]:
Python=df["python"]

In [13]:
#多层索引使用元祖来表达索引逻辑
df["python"].loc[("期中","张三")]

28

In [15]:
#多层级调成单层级，
df["python"].loc["期中"].loc["张三"]

28

In [15]:
# 切片
index1=("期中","张三")
index2=("期末","张三")
Python.loc[("期中","张三"):("期末","张三")]
#访问
Python.loc[[index1,index2]]

期中  张三    65
期末  张三    43
Name: python, dtype: int32

In [5]:
df

       python  java  C++
期中 张三      65    81   79
   李四      65    55   86
期末 张三      43    33   47
   李四      37    25   54

In [8]:
# 访问期中张三的java成绩
index=("期中","张三")
columns = "java"
df.loc[index,columns]

81

In [17]:
df[["python","java"]]

       python  java
期中 张三      65    81
   李四      65    55
期末 张三      43    33
   李四      37    25

In [19]:
index1=("期中","张三")
index2=("期末","张三")
df.loc[[index1,index2]]

       python  java  C++
期中 张三      65    81   79
期末 张三      43    33   47

In [20]:
df.iloc[[0,2]]

       python  java  C++
期中 张三      65    81   79
期末 李四      37    25   54

In [22]:
df.iloc[0,2] =100
df

       python  java  C++
期中 张三      65    81  100
   李四      65    55   86
期末 张三      43    33   47
   李四      37    25   54

## 多层次索引的变形
- stack
- unstack
-

In [23]:
df

       python  java  C++
期中 张三      65    81  100
   李四      65    55   86
期末 张三      43    33   47
   李四      37    25   54

In [32]:
# 默认-1
df1=df.unstack(level=-2)
df1

   python     java      C++
       期中  期末   期中  期末   期中  期末
张三     65  43   81  33  100  47
李四     65  37   55  25   86  54

In [30]:
df1.stack(level=-2)

            期中  期末
张三 C++     100  47
   java     81  33
   python   65  43
李四 C++      86  54
   java     55  25
   python   65  37